:root{
    --primary-color: #6AAF54;
    --secondary-color: #406A33;
    --color-font: #406A33;
    --font-font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(100deg, #406A33, #6AAF54);
}

.containerMain{
   
    height: 70%;



    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(5, 4, 4, 0.50);

    background-color: white;
}

.containerImage {
 /*    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.containerFormulario {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}

.containerFormulario .images{
    width: 400px;
    height: 160px;
    margin-bottom: 20px;
}

.containerImage .cultureImage{
    width: 550px;
    height: 550px;

    padding: 0;
    margin: 0;
}

.containerFormulario h1{
    color: var(--color-font);
    font-family: var(--font-font-family);
    font-weight: 400;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
}

.containerFormulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.containerFormulario form input{
    width: 335px;
    height: 40px;
    padding: 20px 10px 20px 40px;
    margin: 10px 0;
    border: 0.5px solid #ABAAAA;
    border-radius: 10px ;
    outline: none;
}

.input-icon {
    position: relative;
}

.input-icon .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    padding: 5px;

}


.containerFormulario form .btn-entrar{
    width: 335px;
    height: 40px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: var(--color-font);
    color: white;
    font-family: var(--font-font-family);
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.containerFormulario form .btn-cadastrar{
    width: 335px;
    height: 40px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    border:1px solid #406A33;
    background-color: #FFFFFF;
    color: #406A33;
    font-family: var(--font-font-family);
    font-weight: 600;
    cursor: pointer;
    outline: none;
}