.Menu{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    color: black;

    width: 250px;
    height: 85vh;
}

.Menu .containMenu{
    margin: 10px;
    height: 100%;

    display: flex;
    flex-direction: column;

    
}

.Menu .containMenu .ul{

    margin-top: 50px;
    background-color: aqua;
}


.Menu .containMenu .ul li{
    list-style: none;
    background-color: #F2F2F2;
    color: black;
    cursor: pointer;
    padding-left: 20px;

    height: 50px;
}