:root{
    --primary-color: #6AAF54;
    --secondary-color: #406A33;
    --color-font: #406A33;
    --font-font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(100deg, #406A33, #6AAF54);
}

.containerMain{
   
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0.5, 0.5, 0.5);
    background-color: #ECECEC;
    padding: 0px 0px 0px 0px;


}

.containerImage {
    flex: 3;
    display: flex;
    justify-content: column;
    align-items: center;
}

.containerFormulario {
    height: 100%;

    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;

}

.containerFormulario .images{
    width: 400px;
    border-radius:  0 10px 10px 0;
    margin-bottom: 15px;
}

.containerImage .cultureImage{
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
}

.containerFormulario h1{
    color: var(--color-font);
    font-family: var(--font-font-family);
    font-weight: 400;
    margin-bottom: 20px;
    width: 70%;
    text-align: center;
}

.containerFormulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.containerFormulario form input{
    width: 335px;
    height: 40px;
    padding: 20px 10px 20px 40px;
    margin: 10px 0;
    border: 0.5px solid #ABAAAA;
    background-color: #e8e8e8;
    border-radius: 10px ;
    outline: none;
    font-family: var(--font-font-family);
}

.input-icon {
    position: relative;
}

.input-icon .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    padding: 5px;

}


.containerFormulario form .btn-entrar{
    width: 100%;
    height: 40px;
    border: none; 
    border-radius: 16px;
    background-color: var(--color-font);
    color: white;
    font-family: var(--font-font-family);
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.containerFormulario form .btn-cadastrar{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: none;
    border-radius: 16px;
    background-color: #406A33;
    color: #FFFFFF;
    font-size: 16px;
    font-family: var(--font-font-family);
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.containerFormulario form p{
    color: #406A33;
    font-family: var(--font-font-family);
    font-size: 16px;
    margin-top: 10px;
}

.containerFormulario form p .link{
    color: #406A33;
    font-weight: 500;
    font-size: 16px;
}

.containerFormulario h3 {
    color: #406A33;
    font-family: var(--font-font-family);
    font-size: 24px;
    font-weight: 500;
}